body {background-color: rgb(255, 255, 255);}





nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}


nav li { border: 2px solid black;
    width: 20%;
    background-color: rgb(187, 40, 40);
margin-right: 1%;
display: inline-block;
}
nav li a { color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 1%;
    text-align: center;
}

nav li a:hover {color: rgb(0, 0, 0);
background-color: rgb(211, 28, 0);}