#subwapper {
  color: white;
  border: 5px solid black;
  padding: 24px;
  background-color: rgb(135, 30, 177);
  display: grid;
  grid-column-gap: 24px;
  grid-template-columns: repeat(12, 1fr);
  border-radius: 30px;
  margin-top: 100px;
}

header {
  grid-column: span 12;
  background-color: rgb(135, 30, 177);
  border-radius: 30px;
  border: 5px solid rgb(0, 0, 0);
  position:fixed;

}

header nav {
  grid-column: span 12;
  text-align: center;
}

header nav ul {
  list-style: none;

}

header nav li {
  list-style: none;
  display: inline-block;


}

header nav li a {
  color: white;
  background-color: rgb(152, 98, 199);
  border: 5px solid rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  padding: 0px;
  width: 200px;
  margin-right: 3em;
  text-align: center;
  border-radius: 30px;
  font-size: 23px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

header nav li a:hover {
  background-color: rgb(124, 82, 161);

}

section {
  grid-column: span 12;
}



section ul {
  grid-column: span 3;
  margin: 0;
  padding: 0em;
}

section nav ul {
  list-style: none;
  margin-top: 2em;

}

section nav li {
  list-style: none;
  margin-right: 5px;
  display: inline-block;

}



section nav li a:hover {
  background-color: rgb(124, 82, 161);
}

section li a {
  color: white;
  background-color: rgb(138, 88, 185);
  border: 5px solid black;
  text-decoration: none;
  display: block;
  padding: 20px;
  width: 200px;
  margin-bottom: 2em;
  text-align: center;
  border-radius: 30px;
  font-size: 32px;
  transition: background-color 0.3s ease, transform 0.3s ease;

}

section aside {
  background-color: rgb(135, 30, 177);
  padding: 2em;
  border-radius: 30px;


}

section aside h1 {
  background-color: rgb(128, 47, 220);
  border: 5px solid rgb(0, 0, 0);
  border-radius: 30px;
  padding: 1em;
  text-align: center;
  align-self: center;
  margin-bottom: 1em;
  margin-top: 0em;
  width: 85%;
  font-weight: normal;
}

section nav aside {
  grid-column: span 6;
  text-align: center;
  border: none;
  margin-bottom: 0;

}

section nav aside ul {
  display: flex;
}


body {
  background-image: url(notes.png);
  background-repeat: no-repeat;
  background-color: #3f1462;
  background-position: center;
}

#wrapper {
  color: white;
  margin: 24px auto;
  width: 1200px;
  border: 5px solid black;
  padding: 24px 100px;
  background-color: #3f1462;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.Text {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 25px
}

.flote {
  float: left;
  margin: 1em;
}

.flote2 {
  float: right;
  margin: 1em;
}

Main {
  grid-column: span 12;
  border: 5px solid rgb(0, 0, 0);
  padding: 2em;
  margin-bottom: 1em;
  background-color: rgb(123, 63, 179);
  border-radius: 30px;
}

.h1 {
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(178, 140, 212);
  width: max-content;
  offset: path("M 70 100");
  padding: 1em;
  border-radius: 30px;
  margin: 0%;
  font-weight: normal;
}

.h1a {
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(178, 140, 212);
  width: max-content;
  offset: path("M 1100 100");
  padding: 1em;
  border-radius: 30px;
  margin: 0%;
  font-weight: normal;
}

aside {
  grid-column: span 12;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(123, 63, 179);
  padding: 2em;
  margin-bottom: 4em;
  border-radius: 30px;
}

footer {
  grid-column: span 12;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(135, 30, 177);
  padding: 4em;
  margin-bottom: 4em;
  border-radius: 30px;

}

span a:hover {
  color: rgb(255, 225, 0);
  font-weight: bold;
  text-decoration: none;
}

span a {
  color: rgb(0, 255, 229);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}