.Major { font-family: Arial, Helvetica, sans-serif;
background-color: rgb(46, 5, 80);}
.Center {text-align: center;}
.Just {text-align: justify;}
.PNG { border: 30px solid rgb(0, 0, 0);
    background-color: yellow;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;}
#G1 {
    color: rgb(56, 3, 69);
background-color: rgb(196, 114, 237);
}
.w { color: rgb(122, 15, 97);
}

a {
    color: red;
}
a:visited{
    color: green;
}

a:hover {
    color: yellow;
}
h1 {
    color: orange;
    background-color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: normal;
    text-align: center;
}
h2 {
    color: orange;
    background-color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: normal;
    text-align: center;
}
h3 {
    color: orange;
    background-color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: normal;
    text-align: center;
}
h4 {
    color: orange;
    background-color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: normal;
    text-align: center;
}


