
header h1 {background-color: white;
    padding: 25px;
    font-weight:normal;}

nav {margin-bottom: 1.5%;}


nav ul {list-style: none;
    margin: 0;
     padding: 0;}

nav li {background-color: rgb(0, 0, 148);
    display: inline-block;
    margin-right: 2.5%;
    border: 3px solid rgb(29, 11, 110);
    width: 10%;}

nav li a { color: white;
    text-decoration: none;
    display: block;
    padding: 4%;}

nav li a:hover { background-color: rgb(0, 55, 255);}


main a { color: blue;
text-decoration: none;
font-weight: bold;}

main a:hover { color: rgb(147, 2, 2);
text-decoration: underline;}


h2 {border-bottom: 3px solid rgb(0, 0, 0);
}

main { background-color: white;
padding: 2%;}

footer {background-color: rgb(7, 7, 126);
padding: 2.5%;
border: 5px solid white;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style:italic;
font-weight: bold;
text-align: center;}





body {background-image:url(a5bg.png);
font-family: Helvetica, Arial, sans-serif; 
text-align: justify;}

