#Grid {
  margin: 1em auto;
  padding: 1em;
  width: 1200px;
  border: 3px solid #000000;
  background-color: #ffffff;
  display: grid;
grid-template-columns: repeat(12 1fr);
 grid-template-rows: 100px auto 75px;
} 
#bold { font-weight: bold;
    
}

.F1 { float: left;
  padding-right: 20px;

 } 
 .G1 {
  padding-right: 20px;}







body { background-image:url(a62.png);
font-family: Arial, Helvetica, sans-serif;
}

header { grid-column: span 12;}

header h1 {background-color: rgb(0, 0, 0); 
    color: white;
    padding: 25px;
    margin: 0%;
    font-weight:normal;}

nav {grid-column: span 3;
padding-left: 1em ;
padding-right: 1em;}

nav ul {list-style: none;
    margin-left: 0%;
    padding: 0%;}

nav li {list-style: none;
    background-color: rgb(200, 10, 10);
    margin-bottom: 10%;
    padding: 0%;
}
nav li a {color: white;
    text-decoration: none;
    display: block;
padding: 10%;}

nav li a:hover {background-color: rgb(247, 53, 53);}


main img{ 
border: 3px solid black;
padding: 1.5%;
margin-bottom: 1%;
margin-right: 1%;
}

main {grid-column: span 9;
    padding-left: 1em;
    padding-right: 1em;
}
main a {color: red;
text-decoration: none;
font-weight: bold;}
main a:hover {color: blue;
text-decoration: underline;}

main p { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: justify;
}

main h2 {border-bottom: 3px solid black;}

footer {background-color: rgb(200, 10, 10); 
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style:italic;
text-align: center;
grid-column: span 12;}

header { border: 1px solid red; }

nav { border: 1px solid blue; }

main { border: 1px solid green; }

footer { border: 1px solid orange; }

